tests/schematestsets/nametracedescriptortestset/testReferencedElements/externalschema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReferencedElement">
		<xs:complexType>
			<xs:choice>
				<xs:element name="FirstTestElement" type="xs:string"/>
				<xs:choice>
					<xs:element name="FirstChoice"/>
					<xs:element name="SecondChoice"/>
				</xs:choice>
				<xs:element name="SecondTestElement" type="xs:string"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>