tests/schematestsets/processortestset/testIncludeAndImport/0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:logics:external">

<xs:include schemaLocation="IncludedSchema.xsd"/>
<xs:import schemaLocation="ImportedSchema.xsd" namespace="urn:logics:external"/>

<xs:element name="FirstLevel">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="IncludedElement" type="IncludedElementType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ImportedElement" type="ext:ImportedElementType" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="InitialSchemaElement" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
