tests/schematestsets/processortestset/testIncludeAndImport/IncludedSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="IncludedElementType">
	<xs:sequence>
		<xs:element name="FirstIncludedElement" type="xs:boolean"/>
		<xs:element name="SecondIncludedElement" type="xs:integer"/>
	</xs:sequence>
</xs:complexType>

</xs:schema>