tests/xpathtoxmlprocessor/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd" xmlns:vxe="urn:visualXMLeditor:settings">
	<xs:element name="rootelement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hierarchyelement">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstleafelement" type="xs:string"/>
							<xs:element name="secondleafelement" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
